body {
  background-color: #b3e4db;
  scroll-behavior: smooth;
}

.Title {
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-brand {
  font-size: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas-end {
  background-color: #17191b;
}

.offcanvas.show {
  background-color: #1f2124;
}

.btn-close {
  background: none;
  background: url(./images/btn-close.png);
  background-size: 25px;
  background-position: center;
}

.boxCont {
  width: 85%;
  text-align: center;
  border-radius: 2px;
  background-color: #fff;
  white-space: none;
}

.dropdown {
  position: absolute;
  z-index: 1010;
  top: 30px;
  left: 190px;
}

.card:hover {
  box-shadow: 15px 20px #131415;
  width: 89%;
  transition: all 300ms ease;
  white-space: none;
}

.TitleReact {
  width: 180px;
  border-bottom: 3px solid #fff;
  margin: auto;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.TitleFullStack {
  width: 230px;
  border-bottom: 3px solid #fff;
  margin: 60px auto;
  color: white;
  padding-bottom: 5px;

}

.btns {
  background-color: #363d44;
  border-radius: 20px !important;
  color: white !important;
  height: 32px;
  padding-top: 3px;
}

.small {
  font-size: .700em;
}

.btns:hover {
  background-color: #363d44;
  border-radius: 18px !important;
  padding-top: 5px;
  height: 34px;
  box-shadow: 1px 2px 2px #131415;
  transition: all 300ms ease-in-out;
}

@media (max-width: 460px) {
  .boxCont {
    width: 100%;
  }
  .TitleReact{
    width:145px;
  }

  .TitleFullStack{
    width: 182px;
  }

  .p-5 {
    padding: 1rem !important;
  }
}